.article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;

  margin: 0 auto;
  max-width: 1000px;    
  padding: 0rem 1rem;
  padding-top: 1rem;

  &__header {
    padding-bottom: 0.4rem;
  }

  svg {
    padding: 0 0.5em 0 0;
    vertical-align: middle;
  }

  h3 {
    color: black;
    display: inline-block;
    vertical-align: middle;
  }

  p {
    flex: 100%;    
    text-align: justify;
    text-indent: 3%;
    line-height: 1.4rem;

    // border-top-style: solid;
    // border-top-color: #bbb;
    padding-top: 1rem;
  }

  &__NetCore {
    padding: 0rem 0.5rem !important;
  }

}