.authorizations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    max-width: 1032px;
    /* border-bottom-style: solid; */
    /* border-bottom-color: #000; */
    // background-color: #eee;

    h3 {
        flex: 0 1 100%;
        padding: 1rem 0rem 0rem 1rem;
        color: black;
        display: inline-block;
        vertical-align: middle;
    }
    &__Microsoft {
        height: 80px;
    }
    &__VMWare {
        height: 80px;
    }
    &__Veeam {
        height: 60px;
    }
    &__ESET {
        height: 50px;
    }
    &__KiR {
        height: 60px;
    }
    &__InsERT {
        height: 40px;
    }
    img {
        /* padding: 1rem; */
        padding: 2rem 1rem 2rem 1rem;
    }
}
