.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: left;
    margin: 0 auto;
    
    margin-top: 0.45rem;
    padding-bottom: 0.45rem;
    
    max-width: 1032px;
    font-family: 'Titillium Web', sans-serif;
    /* border-bottom-style: solid; */
    /* border-bottom-color: #000; */
    // background-color: #bbb;
    border-bottom-style: solid;
    border-bottom-color: #bbb;

    
    // height: 10rem;

    &__svg {
      // margin: 1rem 1rem;
      &Gradient1 {
        stop-opacity: 1;
        //stop-color: #C4C4C4;
        stop-color: #def6ff;
      }

      &Gradient2 {
        stop-opacity: 1;
        stop-color: #f7f7f7;
        // stop-color: #EBcccB;
      }
    }

    &__title {
      margin: 1rem 0rem 0rem 0rem;
      color: #fff;
    }

    &__info {
      color: #fff;
    }
}

.fil1 {fill:black}
.fnt1 {font-weight:normal;font-size:1.5em;}
.fnt2 {font-weight:normal;font-size:1em;}