$color1: white;
$color2: #A2D9F7;
$color3: #00CCFF;
$color4: black;
$color5: #666666;
$color6: #CCCCCC;


$color00: black;
$color01: #666;
$color02: #777;
$color03: #888;
$color04: #999;
$color05: #aaa;
$color06: #bbb;
$color07: #ccc;
$color08: #ddd;
$color09: #eee;
$color10: white;

$color11: #A2D9F7;
$color12: #007CB0; //RAL5015 CMYK 90,40,0,0 RGB 0,124,176

//https://coolors.co/a2d9f7-007cb0-12130f-5b9279

.fill00 {
    fill: $color00;
}
.fill06 {
    fill: $color06;
}
.fill10 {
    fill: $color10;
}
.fill11 {
    fill: $color11;
}
.fill12 {
    fill: $color12;
}

.fill55 {
    fill: red;
}

.fillNone {
    fill:none;
}


.color1 {
    fill: $color1;
}
.color2 {
    fill: $color2;
}
.color3 {
    fill: $color3;
}
.color4 {
    fill: $color4;
}

.line00-1 {
    stroke: $color00;
    stroke-width: 1;
}

.line00-01 {
    stroke: $color00;
    stroke-width: 0.1;
}
.line00-02 {
    stroke: $color00;
    stroke-width: 0.2;
}

.line11 {
    stroke: $color11;
    stroke-width: 0.5;
}


//BannerSVG
.str3 {stroke:black;stroke-width:1.00456}
.str1 {stroke:#A2D9F7;stroke-width:0.502279}
.str2 {stroke:black;stroke-width:0.200912}
.str4 {stroke:black;stroke-width:0.100456}
.str0 {stroke:#A2D9F7;stroke-width:0.0765473}
